{% extends "base.html" %}
{% load static %}
{% block title %}Обо мне{% endblock %}
{% block content %}
<body method = "post">
    <div>
        <div><img src="{% static "images/foto.jpg" %}" alt="Foto" width="500" height="600" align = "left"></div>
            Меня зовут Родион и не 28 лет.<br>
            Родился и живу в Беларуси. Активно развивался и работаю в комеерческих структурах как экономист.<br>
            На текущий момен работаю в ЗАО"Доброном" на должности "экономинст по финансовой работе".<br>
            Примерно с 2007 года увлекаюсь програмирование т.к. всегда хотел знать как это сделано (как в одноименной передаче).<br>
            В 2007-2008 изучал Pascal. На досуге ковырял html код (даже сайт на ucoz сделал перепилив базовый вариант).<br>
            С 2018 снова стало клонить в эту сторону (на работе было скучно, а задачки порешить я люблю)base.<br>
            Пробывал читать про C#/++ (Асемблер прикольная штука), JavaScript (ужасный синтаксис) и Python.<br>
        <div>
            <li><a href="https://www.instagram.com/radik1337blr/">Instagram</a></li>
            <li><a href="https://vk.com/radik1337blr/">VK</a></li>
            <li><a href="">Моё резюме на rabota.by</a></li>
        </div>
    </div>
</body>
{% endblock %}