{% comment %} <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>My Webpage</title>
</head>
<body>
    <img src="{% static "images/my_foto_on_project.jpg" %} alt="Foto" >

    <h1>Здесь определённо что будет, но не сейчас!</h1>
</body>
</html> {% endcomment %}

<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title>Django на METANIT.COM</title>
</head>
<body method = "post">
    <h1>Зимний лес</h1>
    <img src="{% static "images/foto.jpg" %}" alt="Foto" >
</body>
</html>