{% extends "base.html"%}
{% load static %}
<hr>
{% block content %}
{% block sort %}
<div style="float:right">
    <p class="block-text">sort by:</p>
    <a class="block-link" href="?sort=name">Name</a>
    <a class="block-link" href="?sort=price">Price</a>
</div>
{% endblock %}
<div>
    {% for game in games %}
    <p>{{ game.name }}</p>
    <p>Price: {{game.price}} Dollars </p>
    <img src=/{{game.game_image}} alt="{{game.name}}" width="450">
    <p>Category: <a href=/category/{{game.category}}> {{game.category}} </a></p>
    <p>Разработчик: {{game.gameDev}}</p>
    <p>Статус: {{game.status}}</p>
    <p>Дата релиза: {{game.release_date}}</p>
    <p>Дата последнего обновления информации: {{game.upd_date}}</p>
    <p>Описание: {{game.description}}</p>
    <hr>
    {% endfor %}
</div>
{% endblock %}